body {
    background: #171717;
}

.container{
    background-image: linear-gradient(#051327, #000);
    position: fixed;
    inset: 0;
}

.space{
    width: var(--size);
    height: var(--size);
    background: #fff;
    box-shadow: var(--space-layer);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 75%;
    animation: moveStars var(--duration) linear infinite;
}

.mensaje {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: rgb(188, 16, 232);
    font-family: cursive;
    font-style: italic;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.mensaje.oculto {
    opacity: 0;
}

@keyframes moveStars {
    from { transform: translateY(0); }
    to { transform: translateY(-100vh); }
}